<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="DEBUG">

    <Appenders>

        <Console name="Console">
            <PatternLayout
                pattern="[%d{HH:mm:ss}] %-5level %c - %msg%n"/>
        </Console>

        <RollingFile
            name="File"
            fileName="test-output/logs/app.log"
            filePattern="test-output/logs/app-%i.log">

            <PatternLayout
                pattern="[%d{HH:mm:ss}] %-5level %c - %msg%n"/>

            <Policies>
                <SizeBasedTriggeringPolicy size="5MB"/>
            </Policies>

        </RollingFile>

    </Appenders>

    <Loggers>
        <Root level="INFO">
            <AppenderRef ref="Console"/>
            <AppenderRef ref="File"/>
        </Root>
    </Loggers>

</Configuration>
